{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block metatags %}
        <meta name="description"
              content="django-shop-test.herokuapp.com">
        <meta name="keywords" content="Интернет магазин">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/js/jquery-slim.min.js' %}">
    <link rel="stylesheet" href="{% static 'shop/js/jquery-3.2.1.slim.min.js' %}">
    <link rel="stylesheet" href="{% static 'shop/js/popper.min.js' %}">
    <link rel="stylesheet" href="{% static 'shop/js/bootstrap.min.js' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'shop:index' %}">JustShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'shop:cart' %}">Cart</a>
            </li>

            {% for category in menu_categories %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ category.title }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for subcategory in  category.subcategories.all %}
                            <a class="dropdown-item"
                               href="{% url 'shop:subcategory_product' subcategory.id %}">
                                {{ subcategory.title }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="collapse navbar-collapse" id="mainMenu">
            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                            <a class="dropdown-item" href="{% url 'auth_app:main_user_page' %}">My account</a>
                            <a class="dropdown-item" href="{% url 'auth_app:password_change' %}">Change password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'auth_app:logout' %}">Log out</a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <form class="form-inline ml-auto">
                    <a href="{% url 'auth_app:login' %}" class="btn btn-outline-secondary">Log in</a>
                    <a href="{% url 'auth_app:signup' %}" class="btn btn-primary ml-2">Sign up</a>
                </form>
            {% endif %}
        </div>
    </div>
</nav>



{% block content %}
{% endblock %}

{% block messages %}
    <div class="d-flex justify-content-center">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

<footer>
    <div class="text-center fixed-bottom">
        {% block  copyright %}
            <p>&copy; 2018, <a href="mailto:onlyimholol@gmail.com">Olexandr Datsenko</a></p>
        {% endblock %}
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>