{% extends 'base.html' %}
{% load shop_tags %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="container">

        <form action="{% url 'shop:remove_from_session' %}" method="POST">
            {% csrf_token %}
            {% if products %}

                <table class='table table-striped'>
                <thead>
                <tr>
                    <th>Name of item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
            {% endif %}

            {% for product in products %}
                <tbody>
                <tr>
                    <td>{{ product.title }}</td>
                    <td> {{ amount_all|get_item:product.id }}</td>
                    <td>{{ product.get_total_price_in_ua }} {{ product.currency_pk.UAH }}</td>
                    <td>
                        <button type="submit" class="btn btn-primary">x</button>
                    </td>
                </tr>
                </tbody>
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="product_id" value="{{ product.id }}">
            {% endfor %}
            </table>
        </form>


        {% if products %}
            Total_price:{{ total_price }} {{ product.currency_pk.UAH }} <br>
            Total_count:{{ amount_all|get_sum_values }} <br>
            <form action="{% url 'shop:remove_all_products' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-primary">remove all products</button>
            </form>
            <a href="{% url 'shop:order' %}" class="btn btn-primary">Перейти на форму заказа</a>
        {% else %}
            <div class="d-flex justify-content-center">
                <h3>Your cart is empty</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}
