{% load shop_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Your order, {{ name }}</h3>

<table class="table-dark" border="2">
    <tr>
        <th>Name of item</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.title }}</td>
            <td> {{ amount_all|get_item:product.id }}</td>
            <td>{{ product.get_total_price_in_ua }} UAH</td>
        </tr>
    {% endfor %}
</table>
Price of all items- {{ total_price }} UAH
</body>
</html>
