{% extends "base.html" %}

{% block content %}
    {% if products %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <form action="{% url 'shop:order' %}" method="POST">
                        <div class="form-group ">
                            <table class="table">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if form.errors %}
                                            {% for error in form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">
                                                {{ field.help_text|safe }}
                                            </small>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </table>
                            <input type="submit" class="btn btn-primary" value="Make order"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        Add items to cart, please)
    {% endif %}


{% endblock %}
