{% extends 'base.html' %}

{% block metatags %}
    <meta name="keywords" content="{{ product.meta_keywords }}">
    <meta name="description" content="{{ product.meta_description }}">
{% endblock %}
{% block title %}{{ product.title }}{% endblock %}


{% block content %}
    <div class="container">
        <div class="col text-center"><h3>{{ product.title }}</h3></div>
        <div class="row">
            <div class="col-3">
                <img src="{{ product.image_url }}"
                     alt="fly" width="200" height="200">
            </div>
            <div class="col">
                <h4> Characteristics </h4>
                Name : {{ product.title }} <br>
                Price : {{ product.get_total_price_in_ua }} <br>
                Description: <br>
                {{ product.description }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="{% url 'shop:cart' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" name="product_id" value="{{ product.id }}">

                    <button type="submit" class="btn btn-primary">Add to cart!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}