{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block metatags %}
    <meta name="keywords" content="SmartPhone">
    <meta name="description"
          content="django-shop-test.herokuapp.com:">
{% endblock %}

{% block title %}{{ subcategory_name }}{% endblock %}


{% block content %}

    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>{{ subcategory_name }}</h1>
            </div>
        </div>

        <div class="row text-center">
            {% for product in subcategory %}
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <img src="{{ product.image_url }}"
                         alt="fly" width="100" height="100">
                    <hr>
                    <a href="{% url 'shop:product_details' product.id %}">{{ product.title }}</a>
                    <br>
                    {{ product.get_total_price_in_ua }} {{ product.currency_pk.UAH }}
                    <form action="{% url 'shop:add_to_session' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="hidden" name="amount" value="{{ product.amount }}">

                        <button type="submit" class="btn btn-primary">Add to the cart!</button>
                    </form>

                    {% if product.id in products %}
                        <form action="{% url 'shop:remove_from_session' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit" class="btn btn-primary">Remove from the cart!</button>
                        </form>
                        Already in the cart -- {{ amount_each|get_item:product.id }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="container col-1 text-center ">
        <div class="pagination">
            {% if subcategory.has_other_pages %}
                <ul class="pagination ">
                    {% if subcategory.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ subcategory.previous_page_number }}">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for i in subcategory.paginator.page_range %}
                        {% if subcategory.number == i %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ i }}">{{ i }} </a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ i }}">{{ i }} </a></li>
                        {% endif %}
                    {% endfor %}
                    {% if subcategory.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ subcategory.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}